body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

/*remove scrollbar for chrome*/

body::-webkit-scrollbar{
	display:none;
}

/*end remove scrollbar*/

a {
	color:white;
	font-style:none;
}

/*menu*/

.menu1 {
	height:15px;
	width:80px;
	background-color:white;
	position:fixed;
	right:30px;
	top:30px;
	cursor:pointer;
	transition:.5s;
	z-index:10;
}

.menu1:hover {
	height:19px;
	width:86px;
	right:27px;
	top:28px;
	transition:.5s;
}

.menu2 {
	height:15px;
	width:80px;
	background-color:white;
	position:fixed;
	right:30px;
	top:55px;
	cursor:pointer;
	transition:.5s;
	z-index:10;
}

.menu2:hover {
	height:19px;
	width:86px;
	right:27px;
	top:53px;
	transition:.5s;
}

.menu3 {
	height:15px;
	width:80px;
	background-color:white;
	position:fixed;
	right:30px;
	top:80px;
	cursor:pointer;
	z-index:10;
}

.menu3:hover {
	height:19px;
	width:86px;
	right:27px;
	top:78px;
	transition:.5s;
}

/*end menu*/

/*close button*/

.close {
	height:100vh;
	width:100vw;
	opacity:50%;
	position:fixed;
	left:0px;
	top:0px;
	cursor:pointer;
	z-index:6;
	display:none;
}

.arrow {
	width:30px;
	border:solid white;
	border-width:0 30px 30px 0;
	display:inline-block;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	background-color:solid black;
	padding:30px;
	position:absolute;
	top:5%;
	left:47%;
}

.close.show {
	display:block;
}

/*end close button*/

/*essay*/

.essay1 {
	width:100vw;
	height:75vh;
	background-color:#101010;
	color:white;
	position:fixed;
	left:0px;
	bottom:0px;
	overflow:scroll;
	margin-bottom:-75vh;
	transition:.65s;
	z-index:7;
	font-style:none;
}

.essay2 {
	width:100vw;
	height:75vh;
	background-color:#181818;
	color:white;
	position:fixed;
	left:0px;
	bottom:0px;
	overflow:scroll;
	margin-bottom:-75vh;
	transition:.65s;
	z-index:8;
}

.essay3 {
	width:100vw;
	height:75vh;
	background-color:#202020;
	color:white;
	position:fixed;
	left:0px;
	bottom:0px;
	overflow:scroll;
	margin-bottom:-75vh;
	transition:.65s;
	z-index:9;
}

.essay1.slide {
	margin-bottom:0;
	transition:.65s;
}

.essay2.slide {
	margin-bottom:0;
	transition:.65s;
}

.essay3.slide {
	margin-bottom:0;
	transition:.65s;
}

/*essay scroll*/

.essay1::-webkit-scrollbar{
	display:none;
}

.essay2::-webkit-scrollbar{
	display:none;
}

.essay3::-webkit-scrollbar{
	display:none;
}

/*end essay scroll*/

/*essay text*/

.essay h1 {
	font-size:50px;
	text-align:center;
	text-transform:uppercase;
}

.essay h2 {
	font-size:33px;
	padding-top:20px;
	text-align:center;
	text-transform:uppercase;
}

.essay h3 {
	font-size:28px;
	padding-top:80px;
	padding-bottom:20px;
	text-align:center;
	text-transform:uppercase;
}

.essay h4 {
	font-size:24px;
	padding-top:40px;
	text-align:center;
	text-transform:uppercase;
}

.essay p {
	font-size:24px;
	padding-left:300px;
	padding-right:300px;
	padding-top:20px; 
	line-height:120%;
}

.link {
	font-size:24px;
	padding-bottom:20px;
	color:white;
	text-decoration:none;
}

/*end essay text*/

/*end essay*/

/*layered gifs*/

.container {
	display:flex;
	flex-wrap:wrap;
	position:relative;
}

/*glitch asset*/

.glitch img {
	
	width:105px;
	z-index:2;
}

.glitch2 img {
	width:168px;
	z-index:2;
}

.glayer3 img{
	position:absolute;
	top:300px;
	right:620px;
}

.glayer4 img {
	position:absolute;
	bottom:60px;
	left:450px;
}

.glayer8 img {
	position:absolute;
	top:160px;
	left:450px;
}

.gulayer1 img {
	position:absolute;
	top:500px;
	left:350px;
}

.gulayer2 img {
	position:absolute;
	bottom:140px;
	left:630px;
}

.gulayer3 img {
	position:absolute;
	bottom:110px;
	left:580px;
}

.gulayer4 img {
	position:absolute;
	bottom:210px;
	right:200px;
}

.gulayer6 img {
	position:absolute;
	bottom:490px;
	right:580px;
}

.gulayer8 img {
	position:absolute;
	bottom:390px;
	right:280px;
}

.gulayer9a img {
	position:absolute;
	bottom:160px;
	left:330px;
}

.gulayer9b img {
	position:absolute;
	top:190px;
	right:580px;
}

/*end glitch asset*/

.item {

}

.item img {
	width:100%;
	display:block;
}

/*just in case*/

.w1of1 {
	width:100%;
}

/*end just in case*/

/*flipped assets*/

.under {
	transform:scale(-1,-1);
	display:block;
	margin-bottom:-.5%;
}

/*end flipped assets*/

/*end layered gifs*/


