body {
	background-color:white;
	color:#001133;
	font-size:2vw;
	line-height:2.2vw;
	font-family:arial;
}

/*scrollbar*/

::-webkit-scrollbar {
  	width:.7vw;
  	z-index:0;
  	overflow:overlay;
}

::-webkit-scrollbar-track {
	background:rgb(220 ,220 ,220);
}

::-webkit-scrollbar-thumb {
	background-color:red;
	box-shadow:0 -100vh 0 100vh red;
}

/*end scrollbar*/

::selection {
	background:red;
	color:white;
}

h1 {
	font-size:14vw;
	line-height:11vw;
	letter-spacing:-15px;
	text-align:left;
	font-family:arial;
	font-weight:700;
	color:white;
	margin-left:2vw;
}

.nav {
	position:fixed;
	top:1.5vw;
	right:1.5vw;
	width:3vw;
	height:3vw;
	background-color:red;
	transition:.5s;
	z-index:2;
}

.nav:hover {
	opacity:50%;
	transition:.5s;
	cursor:pointer;
}

.slide {
	display:;
	width:40%;
	height:100vh;
	background-color:white;
	border-left:0.2vw solid red;
	padding-top:5vw;
	padding-left:1.5vw;
	padding-right:1.5vw;
	color:red;
	position:fixed;
	top:0px;
	right:0px;
	margin-right:-50vw;
	transition:.5s;
	z-index:1;
}

.slide.active {
	margin-right:0vw;
	transition:.5s;
}

.button2 {
	margin:auto;
	width:0;
	height:0;
	border-top: 4vw solid transparent;
	border-left: 8vw solid red;
	border-bottom: 4vw solid transparent;
	margin-bottom:5vw;
}

a {
	display:flex;
	flex-wrap:wrap;
	color:#001133;
	font-size:3vw;
	line-height:2.7vw;
	letter-spacing:-.1vw;
	border-top:.2vw solid red;
	text-decoration:none;
	width:100%;
	height:10vw;
	font-weight:700;
	text-transform:uppercase;
	align-content:center;
}

/*titles*/

.howdoes {
	margin-top:2.5vw;
	animation-name:blend;
	animation-delay:2s;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-play-state:paused;
}

.ilike {
	padding-top:8vw;
	color:#001133;
	opacity:0%;
	animation-name:blendd;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-play-state:paused;
}

.cap {
	font-weight:300;
	letter-spacing:-25px;
	font-size:12.5vw;
	color:red;
}

.cap2 {
	margin-top:8vw;
	font-weight:300;
	letter-spacing:-15px;
	font-size:12vw;
	color:red;
}

.landingsub {
	margin-left:3vw;
	margin-top:.7vw;
	font-size:4.5vw;
	line-height:4vw;
	letter-spacing:-.25vw;
	color:#001133;
	opacity:0%;
	animation-name:blendd;
	animation-duration:10s;
	animation-delay:2s;
	animation-fill-mode:forwards;
}

.therest {
	animation-name:blend;
	animation-duration:10s;
	animation-delay:2s;
	animation-fill-mode:forwards;
	animation-play-state:paused;
}

.therest2 {
	animation-name:blend;
	animation-delay:2s;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-play-state:paused;
}

.paused {
	animation-play-state:running;
}

@keyframes blend {
	100% {
		color:#001133;
	}
}

@keyframes blendd {
	100% {
		opacity:100%;
	}
}

@keyframes fade {
	25% {
		color:white;
	}
	100% {
		color:#001133;
	}
}

/*end titles*/

.play {
	z-index:3;
	position:fixed;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:white;
}

.button {
	margin:auto;
	width:0;
	height:0;
	border-top: 10vw solid transparent;
	border-left: 20vw solid red;
	border-bottom: 10vw solid transparent;
}

.button:hover {
	cursor:pointer;
}

.hide {
	display:none;
}

h2 {
	font-weight:700;
	letter-spacing:-10px;
	font-size:10vw;
	line-height:9vw;
	color:red;
	/*-webkit-text-stroke: .5px white;*/
}

h3 {
	font-weight:700;
	letter-spacing:-10px;
	font-size:8.6vw;
	line-height:7vw;
}

h4 {
	font-size:12vw;
	font-weight:700;
	color:red;
	margin-top:15vw;
	letter-spacing:-10px;
}

h5 {
	font-size:30px;
	line-height:32px;
}

h6 {
	font-weight:500;
	letter-spacing:-1px;
	font-size:4vw;
	line-height:4.5vw;
	padding-left:6vw;
	padding-right:6vw;
	margin-bottom:4vw;
	color:red;
}

p {
	font-size:2.12vw;
	line-height:2.32vw;
	letter-spacing:-.05vw;
	font-weight:300;
	margin-bottom:1.5vw;
}

.hero {
	width:100vw;
	height:55vw;
	text-align:center;
	text-transform:uppercase;
	margin-top:5vw;
	margin-bottom:5vw;
	border-top:.7vw solid red;
	border-bottom:.7vw solid red;
	background-size:cover;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
}

.hero2 {
	width:100vw;
	height:52vw;
	text-transform:uppercase;
	margin-top:5vw;
	border-top:.7vw solid red;
	background-size:cover;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}

.heroone {
	width:100vw;
	height:52vw;
	text-transform:uppercase;
	margin-top:5vw;
	border-top:.7vw solid red;
	border-bottom:.7vw solid red;
	background-size:cover;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}

.herojuan {
	width:100vw;
	height:52vw;
	text-transform:uppercase;
	margin-top:5vw;
	margin-bottom:5vw;
	border-top:.7vw solid red;
	border-bottom:.7vw solid red;
	background-size:cover;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}

.herotwo {
	width:100vw;
	height:52vw;
	text-align:center;
	text-transform:uppercase;
	margin-top:5vw;
	border-top:.7vw solid red;
	background-size:cover;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
}

.img img {
	width:42vw;
	padding-left:5%;
	margin-bottom:.7vw;
}

.still {
	width:70vw;
	height:40vw;
	margin-left:15vw;
	margin-top:4vw;
	margin-bottom:6vw;
	background-size:cover;
	color:white;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}

.one {
	background-image:url(../images/mirrors6.jpg);
}

.two {
	background-image:url(../images/farcry.jpg);
}

.three {
	background-image:url(../images/mirrors2.jpg);
}

.four {
	background-image:url(../images/aco.jpeg);
}

.five {
	background-image:url(../images/mirrors3.jpg);
}

.six {
	background-image:url(../images/tw3.jpg);
}

.seven {
	background-image:url(../images/mirrors1.jpg);
}

/*images for article 1*/

.one2 {
	background-image:url(../images/kojima.jpg);
}

.two2 {
	background-image:url(../images/tlou2.jpg);
	background-size:500px;
}

.three2 {
	background-image:url(../images/tlou.jpg);
}

.four2 {
	background-image:url(../images/sotc2.jpg);
}

.five2 {
	background-image:url(../images/sable.png);
}

/*end images for article 1*/

/*images for article 3*/

.one3 {
	background-image:url(../images/ueda1.jpg);
}

.two3 {
	background-image:url(../images/ueda2.jpg);
}

.three3 {
	background-image:url(../images/ueda3.jpg);
}

.four3 {
	background-image:url(../images/ueda4.png);
}

.five3 {
	background-image:url(../images/ueda7.png);
}

/*end images for article 3*/

.sub1 {
	padding-left:14%;
	border-bottom:2vw solid red;
	height:9vw;
	width:35%;
	margin-bottom:5vw;
}

.sub1one {
	padding-left:13%;
	border-bottom:2vw solid red;
	height:9vw;
	width:35%;
	margin-bottom:5vw;
}

.sub2 {
	padding-left:28%;
	border-bottom:2vw solid red;
	height:9vw;
	width:50%;
	margin-bottom:5vw;
}

.sub3 {
	padding-left:43%;
	border-bottom:2vw solid red;
	height:9vw;
	width:65%;
	margin-bottom:5vw;
}

.sub4 {
	padding-left:52%;
	border-bottom:2vw solid red;
	height:9vw;
	width:80%;
	margin-bottom:5vw;
}

.red {
	color:red;
}

.footnote p {
	font-size:22px;
	line-height:22px;
	width:50%;
	color:gainsboro;
	font-family:arial;
	margin-bottom:20px;
}

.text p {
	text-indent:7vw;
	text-align:justify;
	padding-left:4vw;
	padding-right:4vw;
}

p.noindent {
	text-indent:0px;
}

.container {
	display:flex;
	flex-wrap:wrap;
}

.first {
	margin-top:10vw;
}

.comp {
	width:50%;
	height:30vw;
	text-transform:uppercase;
	text-align:center;
	margin-top:4vw;
	margin-bottom:5vw;
	border-top:.3vw solid #001133;
	border-bottom:.3vw solid #001133;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
	background-size:cover;
	color:transparent;
	transition:2s;
}

.comp:hover {
	color:#001133;
	transition:2s;
}

.compp {
	width:100%;
	height:52vw;
	font-size:8vw;
	font-weight:700;
	letter-spacing:-10px;
	line-height:7vw;
	text-transform:uppercase;
	text-align:center;
	padding:10vw;
	border-top:.7vw solid red;
	border-bottom:0vw;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
	background-size:cover;
	color:transparent;
	transition:2s;
}

.compp:hover {
	color:red;
	transition:2s;
}

/*compp images*/

.top {
	background-image:url(../images/tlou.jpg);
	margin-top:10vw;
}

.mid {
	background-image:url(../images/mirrors6.jpg);
	margin-top:-1.1vw;
}

.bot {
	background-image:url(../images/ueda6.png);
	margin-top:-1.1vw;
	margin-bottom:0vw;

}

.half {
	width:50%;
}

.third {
	width:100vw;
	margin-left:4vw;
}

.third2 {
	width:100vw;
	text-align:center;
}

.third3 {
	width:92vw;
	text-align:right;
}

.half p {
	padding-right:2vw;
}

.gap {
	margin-top:2vw;
}


