body {
	font-family:helvetica;
	background:linear-gradient(to bottom,lightsalmon,coral 70%);
	height:200vh;
}

body::-webkit-scrollbar {
  	display:none;
}

.ess {
	padding-top:6vw;
	display:block;
	width:100vw;
	color:transparent;
	-webkit-text-stroke:2px mediumspringgreen;
	text-shadow:-4px -3px mediumspringgreen;
	font-size:4.5vw;
	font-weight:900;
	animation:sloop 15s infinite alternate;
	text-transform:uppercase;
	text-align:center;
}

.text {
	font-family:times;
	margin-top:5vw;
	display:block;
	font-weight:900;
	margin-left:auto;
	margin-right:auto;
	animation:slide 3s;
}

.set {
	margin-top:3vw;
	display:inline-block;
	width:50vw;
	font-size:3vw;
	-webkit-text-stroke:1px mediumspringgreen;
	text-align:right;
	color:transparent;

}

.span {
	font-style:italic;
	width:49vw;
	display:inline-block;
	color:mediumspringgreen;
	text-align:left;
	font-size:3vw;
}

.bot {
	-webkit-text-stroke:2px mediumspringgreen;
	text-shadow:-4px -3px mediumspringgreen;
	color:transparent;
	font-size:5vw;
	font-weight:900;
	text-align:center;
	width:100vw;
	margin-top:8vw;
	animation:do 3s;
}

@keyframes sloop {
	0% {
		opacity:0%;
		font-size:0vw;
	}
	25% {
		opacity:0%;
		font-size:0vw;
	}
	35%{
		opacity:0%;
	}

	75% {
		opacity:100%;
		font-size:9vw;
		margin-bottom:5vw;

	}
	100% {
		opacity:100%;
		font-size:9vw;
		margin-bottom:5vw;
		
	}

}

@keyframes slide {
	0% {
		margin-left:-50vw;
		opacity:0%;
	}
	30% {
		opacity:0%;
	}
	100% {
		margin-left:0vw;
	}
}

@keyframes do {
	0% {
		opacity:0%;
		font-size:8vw;
	}
	100% {
		opacity:100%;
		font-size:5vw;
	}
}

