body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

::-webkit-scrollbar {
  display: none;
}

img {
	display:flex;
	width:60vw;
	
}

.bg {
	background-image:url("background/background.jpg");
	background-size:cover;
	z-index:-3;
}

.float {
	height:25vw;
	width:10vw;
}

.item {
	width:30vw;
	margin:auto;
	display:flex;
	z-index:2; 
	position:relative;
	cursor:crosshair;
}

.title {
	font-size:15vw;
	font-style:italic;
	text-align:right;
	padding-top:250px;
	padding-right:300px;
}


.lv5 {
	padding-top:150px; 
	transition:3s;
}

.lv1Ext {
	position:absolute;
	transition:.65s;
	left:0;
}

.lv1Ext.slide {
	position:absolute;
	left:100vw;
	transition:.65s;
}

.lv2.slide {
	margin-right:-10vw;
	transition:.65s;
}

.lv3.slide {
	margin-right:-10vw;
	transition:.65s;
}

.lv4.slide {
	margin-right:-10vw;
	transition:.65s;
}

.lv5.slide {
	margin-right:-10vw;
	transition:3s;
}


/*.header {
	border-top:3px solid blue;
	color:blue;
	padding:20px;
	display:flex;
	cursor:pointer;
}

.header:hover {
	background-color:gray;
	opacity:50%;
}

.item {
	width:33.33%;
}

.title {
	font-size:24vw;
	text-transform: uppercase;
}

.toggle {
	padding:20px;
	color:red;
	display:none;
}*/