body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/*removing scrollbar on PC*/

::-webkit-scrollbar {
  display: none;
}

/*end remove scrollbar*/

/*extra image properties*/

img {
	display:flex;
	width:60vw;
	
}

/*end extra image properties*/

/*background*/

.bg {
	background-image:url("background/background.jpg");
	background-size:cover;
	z-index:-3;
}

/*end background*/



/*floating sidebar*/

.float {
	display:block;
	height:7vw;
	width:7vw;
	background-color:gray;
	border:2px solid lightgray;
	position:fixed;
	left:14vw;
	font-size:1.5vw;
	text-align:center;
	line-height:7vw;	
}

/*floating slidebar hover*/

.float:hover {
	cursor:pointer;
	opacity:80%;
}

/*end floating sidebar hover*/

.flv5 {
	top:7vw;
}

.flv4 {
	top:14.2vw;
}

.flv3 {
	top:21.4vw;
}

.flv2 {
	top:28.6vw;
}

.flv1 {
	top:35.8vw;
}

/*end floating sidebar*/

/*title*/

.title {
	font-size:15vw;
	font-style:italic;
	text-align:right;
	padding-top:250px;
	padding-right:300px;
	padding-bottom:400px;
}

/*end title*/

/*floors*/

.item {
	width:30vw;
	margin:auto;
	display:flex;
	z-index:2; 
	position:relative;
	cursor:crosshair;
}

.lv5Ext {
	position:absolute; 
	transition:1s;
	left:0;
}

.lv5Ext.slide {
	position:absolute;
	transition:1s;
	left:100vw;
}

.lv4Ext {
	position:absolute;
	transition:1s;
	left:0;
}

.lv4Ext.slide {
	position:absolute;
	transition:1s;
	left:100vw;
}

.lv3Ext {
	position:absolute;
	transition:1s;
	left:0;
}

.lv3Ext.slide {
	position:absolute;
	transition:1s;
	left:100vw;
}

.lv2Ext {
	position:absolute;
	transition:1s;
	left:0;
}

.lv2Ext.slide {
	position:absolute;
	transition:1s;
	left:100vw;
}

.lv1Ext {
	position:absolute;
	transition:1s;
	left:0;
}

.lv1Ext.slide {
	position:absolute;
	transition:1s;
	left:100vw;	
}

/*end floors*/

/*floors hover*/

.lv5Ext:hover {
	opacity:80%;
	transition:.5s;	
}

.lv4Ext:hover {
	opacity:80%;
	transition:.5s;
}

.lv3Ext:hover {
	opacity:80%;
	transition:.5s;
}

.lv2Ext:hover {
	opacity:80%;
	transition:.5s;
}

.lv1Ext:hover {
	opacity:80%;
	transition:.5s;
}

/*end floors hover*/