body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:#1a001a;
	text-shadow: 0px 0px 5px #e600e6; 
}

a {
	color:red;
}

.lesion {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	transform:skew(0deg);
	transition:1s;
}

.lesion img {
	width:100%;
	/*display:block; to remove
	descender element and to
	display at 100%*/
	display:block;
}

.lesion:hover {
	transform:skew(-5deg);
	transition:1s;
	cursor:crosshair;
}

.links {
	position:fixed;
	bottom:140px;
	left:30px;
	font-family:arial;
}

.link {
	width:500px;
	height:50px;
	border:3px solid #00ffff;
	box-shadow:0px 0px 15px #0000ff;
	background-color:#000033;
	padding-top:7px;
	margin-bottom:-3px;
}

.link2 {
	width:250px;
	height:50px;
	border:3px solid #00ffff;
	box-shadow:0px 0px 15px #0000ff;
	background-color:#000033;
	padding-top:7px;
	margin-bottom:-3px;
}

.links a {
	text-decoration:none;
	color:#00ffff;
	font-size:1.5vw;
	font-family:futura;
	font-style:italic;
	text-shadow: 0px 0px 5px #0000ff; 
	display:block;
	z-index:2;
}

.links a:hover {
	color:white;
}

.name {
	margin-top:5vh;
	font-size:10vw;
	text-align:center;
	font-family:futura;
	font-style:italic;
	font-weight:;
	color:#00ffff;
	text-shadow: 0px 0px 15px #0000ff;
	border:3px solid #00ffff;
	box-shadow:0px 0px 15px #0000ff;
	background-color:#000033;
	transition:1s;
}

.name:hover {
	font-size:11vw;
	color:white;
	transition:1s;
}

.copy {
	font-size:15px;
	text-align:center;
	text-transform: uppercase;
	border:3px solid #e600e6;
	padding:10px;
	margin-top:40px;
	margin-bottom:40px;
}

.icon{
	position:fixed;
	top:480px;
	right:150px;
	transition:0.2s;
}

.icon:hover {
	opacity:70%;
	transition:0.2s;
}