body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:white;
}

a {
	color:magenta;
	text-shadow: 0px 0px 3px #ff66ff; 

}

.links {
	
	
}

.link {
	width:100vw;
	height:50px;
	border-bottom:3px solid magenta;
	text-align:center;
	box-shadow:0px 0px 15px #ff66ff;
	padding-top:7px;
	margin-top:1vw;
}


/*.link2 {
	width:250px;
	height:50px;
	border:3px solid magenta;
	box-shadow:0px 0px 15px #ff66ff;
	background-color:#330033;
	padding-top:7px;
	margin-bottom:-3px;
}*/

.links a {
	text-decoration:none;
	color:magenta;
	font-size:1.5vw;
	font-family:helvetica;
	font-weight:700;
	font-style:italic;
	display:block;
	transition:.7s;
	z-index:2;
}

.links a:hover {
	color:#00ffff;
	font-size:1.7vw;
	transition:.7s;
}

.name {
	cursor:crosshair;
	height:8vw;
	margin-top:2vw;
	margin-bottom:3vw;
	font-size:7vw;
	text-align:center;
	font-family:helvetica;
	font-style:italic;
	font-weight:700;
	color:#00ffff;
	text-shadow: 0px 0px 15px #0000ff;
	border-bottom:3px solid #00ffff;
	box-shadow:0px 0px 15px #0000ff;
	transition:.7s;
}

.name:hover {
	font-size:7.5vw;
	color:deeppink;
	transition:.7s;
}

.copy {
	display:inline-block;
	cursor:crosshair;
	height:6vh;
	width:100vw;
	font-family:helvetica;
	font-weight:700;
	font-size:1.2vw;
	font-style:italic;
	text-align:center;
	text-transform: uppercase;
	color:#00ffff;
	text-shadow: 0px 0px 15px #0000ff;
	border-bottom:3px solid #00ffff;
	box-shadow:0px 0px 15px #0000ff;
	padding:10px;
	position:absolute;
	bottom:2vw;
	transition:.7s;
}

.copy:hover {
	font-size:1.3vw;
	color:deeppink;
	transition:.7s;
}

.icon{
	cursor:pointer;
	width:250px;
	height:250px;
	border-bottom:3px solid magenta;
	box-shadow:0px 0px 15px #ff66ff;
	color:white;
	text-decoration:none;
	margin-top:2vw;
	margin-left:auto;
	margin-right:auto;
	padding-top:4vw;
	font-weight:800;
	font-size:2.5vw;
	text-align:center;
	transition:0.7s;
}

.icon:hover {
	font-size:2.6vw;
	color:white;
	transition:0.7s;
}