body {
	font-family:helvetica;
	font-size: 32px;
	color:white;
	overflow-x:hidden;
}

/*::-webkit-scrollbar {
  	display:none;
}*/

::-webkit-scrollbar {
  	width:.5vw;
  	z-index:10; 
  	overflow:overlay;	
}

::-webkit-scrollbar-track {
	background:white;
}

::-webkit-scrollbar-thumb {
	background-color:grey;
	box-shadow:0 -100vh 0 100vh grey;
}

.header {
	z-index:3;
	position:fixed;
	width:100vw;
	height:3vw;
	color:white;
	background-color:/*(51, 153, 255, 95%)*/rgba(0,0,0,95%);
	display:flex;
	flex-wrap:wrap;
	font-weight:700;
	letter-spacing:-.15vw;
	text-align:center;
	justify-content:center;
	align-content:center;
	text-transform:uppercase;
	font-size:2.5vw;
}

.button {
	z-index:4;
	position:fixed;
	top:.75vw;
	left:1vw;
	transition:.5s;
}

.button:hover {
	opacity:50%;
	cursor:pointer;
	transition:.5s;
}

.shape {
	width:2vw;
	height:.3vw;
	margin-bottom:.3vw;
	background-color:white;
	border:2px solid black;
}

.slide {
	display:block;
	width:30%;
	height:100vh;
	background-color:rgba(0,0,0,95%);
	padding-top:5vw;
	padding-left:1.5vw;
	padding-right:1.5vw;
	color:white;
	position:fixed;
	top:0px;
	left:0px;
	margin-left:-50vw;
	transition:.5s;
	z-index:1;
}

.slide.active {
	margin-left:0vw;
	transition:.5s;
}

.slink {
	display:flex;
	flex-wrap:wrap;
	font-size:2.5vw;
	letter-spacing:-.15vw;
	border-top:.2vw solid white;
	text-decoration:none;
	width:100%;
	height:10vw;
	font-weight:700;
	align-content:center;
	transition:.5s;
}

.slink:hover {
	opacity:50%;
	transition:.5s;
}

.header2 {
	z-index:3;
	position:fixed;
	color:black;
	width:100vw;
	height:3vw;
	background-color:rgba(242, 242, 242, 95%);
	display:none;
	font-weight:700;
	letter-spacing:-.15vw;
	text-align:center;
	justify-content:center;
	align-content:center;
	text-transform:uppercase;
	font-size:2.5vw;
}

.land {
	z-index:-2;
	position:fixed;
	height:auto;
	width:100vw;
	background-size:cover;
}

.land2 {
	margin-top:.2vw;
	width:100vw;
	background-color:black;
	height:auto;
	filter:brightness(6%);
	transition:.5s;
}

.footer {
	width:100vw;
	height:14vw;
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	align-content:center;
	justify-content:center;
	background-color:black;
	color:white;
	margin-bottom:-.2vw;
	font-size:1.8vw;
	font-weight:500;
	letter-spacing:-.1vw;
}

.land2 img {
	width:85vw;
	height:auto;
	margin-left:7.5vw;
	
}

.land2:hover {
	cursor:pointer;
	filter:brightness(100%);
	transition:.5s;
}

.zero {
	top:0;
	filter:brightness(70%);
}

.cinnpie {
	top:3vw;
	filter:brightness(50%)grayscale(30%)
}

.nairo {
	bottom:0;
}

.gray {
	filter:grayscale(100%) brightness(50%);
}

.blank {
	height:100vh;
	width:100vw;
	text-align:center;
	font-size:24vw;
	font-weight:700;
	letter-spacing:-1.2vw;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}

.blank2 {
	height:100vh;
	width:100vw;
	text-align:center;
	font-size:24vw;
	font-weight:700;
	letter-spacing:-1.2vw;
	display:none;
	align-content:center;
	justify-content:center;
}

.blank3 {
	height:100vh;
	width:60vw;
	margin-left:20vw;
	display:flex;
	flex-wrap:wrap;
	transition:.5s;
}

.blank3:hover {
	width:80vw;
	margin-left:10vw;
	transition:.5s;
}

.blanks {
	height:100vh;
	width:20vw;
	object-fit:cover;
}

.blanks:hover {
	width:40vw;
	margin-left:0vw;
}

.hzer {
	object-position:40% 50%;
}

.hnai {
	object-position:47% 50%;
}

.hcin {
	object-position:60% 50%;
}

.hcin img {

}

.container {
	display:flex;
	flex-wrap:wrap;
	background:/*rgba(204, 230, 255, 98%)*/rgba(242,242,242,95%);
	color:black;
}

.container2 {
	display:none;
	background:rgba(0, 0, 0, 98%);
	color:white;
}

.subt {
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	justify-content:center;
	margin-top:6vw;
	margin-left:22vw;
	margin-right:22vw;
	font-size:5vw;
	font-weight:700;
	letter-spacing:-.3vw;
	text-transform:uppercase;

}

p {
	text-align:center;
	font-size:2.2vw;
	font-weight:300;
	letter-spacing:-.07vw;
}

h2 {
	text-align:center;
	font-size:3.2vw;
	font-style:italic;
	font-weight:700;
	letter-spacing:-.15vw;
}

h3 {
	font-size:2.2vw;
	font-weight:300;
	letter-spacing:-.15vw;
	text-align:center;
	align-content:center;
	justify-content:center;
	display:flex;
	flex-wrap:wrap;
}

.text p {
	text-indent:3vw;
	text-align:justify;
	padding-left:10vw;
	padding-right:10vw;
	padding-top:3vw;
}

.noindent {
	text-indent:0vw;
}

.achh {
	margin-left:10vw;
	margin-right:10vw;
	margin-top:4vw;
	display:flex;
	flex-wrap:wrap;
}

.line {
	height:10vw;
	width:50%;
	border-right:.1vw solid black;
}

.line2 {
	height:10vw;
	width:50%;
	border-left:.1vw solid black;
}

.lines {
	height:5vw;
	width:50%;
	border-right:.1vw solid white;
}

.line2s {
	height:5vw;
	width:50%;
	border-left:.1vw solid white;
}


.half {
	width:50%;
	height:15vw;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
}

.half2{
	width:50%;
	height:15vw;
	padding-left:8vw;
	display:flex;
	flex-wrap:wrap;
	text-align:left;
	align-content:center;	
}

.gal {
	display:flex;
	flex-wrap:wrap;
	padding-top:2vw;
	margin-top:2vw;
}

img {
	height:24.86vw;
	width:24.3vw;
	transition:.5s;
}

.halff {
	width:49.5vw;
	
}

.halff img:hover {
	filter:brightness(60%);
	transition:.5s;
}

.top {
	padding-bottom:.3vw;
}

.hero {
	width:50vw;
	height:50vw;
	filter:brightness(70%)grayscale(30%);

}

.gal2 {
	display:flex;
	flex-wrap:wrap;
	margin-top:4vw;
	background-image:url(../images/zeroli.jpg);
	background-size:cover;
	filter:grayscale(100%);
}

.gal3 {
	display:flex;
	flex-wrap:wrap;
	margin-top:4vw;
	background-image:url(../images/nairocu.jpg);
	background-size:cover;
	filter:grayscale(100%);
}

.gal4 {
	display:flex;
	flex-wrap:wrap;
	margin-top:4vw;
	background-image:url(../images/cinnpiecu.jpg);
	background-size:cover;
	filter:grayscale(100%);
}

.zerofull {
	background-color:rgba(0,0,0,65%);
	width:100vw;
	height:15vw;
	margin-top:.4vw;
	transition:.5s;
}

.zerofull:hover {
	background-color:rgba(0,0,0,30%);
	transition:.5s;
}

.zero1 {
	background-color:rgba(0,0,0,65%);
	width:49.5vw;
	height:15vw;
	margin-top:.4vw;
	transition:.5s;
}

.zero1:hover{
	background-color:rgba(0,0,0,30%);
	transition:.5s;
}

.zero2 {
	background-color:rgba(0,0,0,65%);
	width:49.5vw;
	height:15vw;
	margin-left:.4vw;
	margin-top:.4vw;
}

.zero2:hover{
	background-color:rgba(0,0,0,30%);
	transition:.5s;
}

a {
	color:white;
	text-decoration:none;
}

.left {
	padding-left:.5vw;
}

.container2 img {
	filter:grayscale(100%) brightness(70%);
}

.container2 .land2 img {
	filter:grayscale(0%) brightness(100%);
}

.last {
	margin-bottom:6vw;
}

.hide {
	display:none;
}

.show {
	display:flex;
	flex-wrap:wrap;
}


