body {
	font-family: arial,sans-serif;
	font-size: 32px;
	background-color:white;
	color:black;
	overflow-x:hidden;
}

::-webkit-scrollbar {
  	width:.5vw;
  	z-index:10; 
  	overflow:overlay;	
}

::-webkit-scrollbar-track {
	background:white;
}

::-webkit-scrollbar-thumb {
	background-color:grey;
	box-shadow:0 -100vh 0 100vh grey;
}

.name {
	width:20vw;
	margin-left:5vw;
	margin-right:5vw;
	font-size:4vw;
	letter-spacing:-.2vw;
	margin-top:3vw;
	font-weight:700;
	color:black;
	border-bottom:3px solid black;
}

.name2 {
	width:50%;
	margin-left:5vw;
	margin-right:5vw;
	margin-top:3vw;
	margin-bottom:3vw;
	font-size:2vw;
	font-weight:300;
	letter-spacing:-.1vw;
}

.container {

}

.first {
	border-top:3px solid black;
}

.six {
	margin-bottom:2vw;
}

.subt {
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	text-align:left;
	padding-left:1vw;
	height:3.5vw;
	color:black;
	font-size:2vw;
	letter-spacing:-.1vw;
	font-weight:700;
	z-index:2;
	border-bottom:3px solid black;
	margin-left:5vw;
	margin-right:5vw;
	transition:.5s;
}

.subt:hover {
	background-color:rgba(0,0,0,15%);
	cursor:pointer;
	transition:.5s;
}

a {
	color:black;
	text-decoration:none;
	transition:.5s;
}

 a:hover {
	opacity:50%;
	transition:.5s;
}

.container {
	display:flex;
	flex-wrap:wrap;
	font-size:2vw;
	letter-spacing:-.1vw;
	margin-left:10vw;
	margin-right:10vw;
	margin-bottom:8vw;
	transition:max-height .5s ease-out;
}

.hidden {
	display:none;
	overflow:hidden;
}

.text {
	display:flex;
	margin-top:1vw;
	flex-wrap:wrap;
	font-size:2vw;
	letter-spacing:-.1vw;
}

.half {
	width:50%;
}

.third {
	width:25%;
	font-weight:700;
}

.title {
	font-weight:700;
	display:flex;
	flex-wrap:wrap;
	margin-top:3vw;
	margin-bottom:3vw;
}

.side {
	margin-left:1vw;
	width:49%;
}

video {
	width:39vw;
	height:auto;
	border:1px solid black;
}

.full video {
	width:78.5vw;
	height:auto;
}

img {
	width:80vw;
	height:auto;
	margin-top:1vw;
}

img.smol {
	width:19vw;
}

img.med {
	width:39vw;
	margin-top:0;
}

.vid {
	margin-top:1vw;
}

.copy {
	display:inline;
	font-weight:700;
	font-size:1.2vw;
	letter-spacing:-.05vw;
	text-transform: uppercase;
	margin:5vw;
	border-bottom:3px solid black;
}
